#sem comentarios
#Wed Mar 12 15:35:16 GMT 2025
fontName=Courier New
backColorG=255
fontBold=false
backColorB=255
sintax=true
fontItalic=false
file3=C\:\\Users\\user\\Documents\\Rumos_Files\\JS_Section\\flag-2025-JS-main\\portugol\\pdf_exs\\euros_para_dolares.alg
file2=Sem Nome.alg
file1=C\:\\Users\\user\\Documents\\Rumos_Files\\JS_Section\\flag-2025-JS-main\\portugol\\pdf_exs\\lata_oleo.alg
backColorR=255
fontSize=20
