#sem comentarios
#Fri Mar 14 13:54:47 GMT 2025
fontName=Courier New
backColorG=255
fontBold=false
backColorB=255
sintax=true
fontItalic=false
file3=C\:\\Users\\user\\Documents\\rumos_js_exs\\js_individual_exs\\portugol_section\\portugol\\pdf_exs\\par_impar.alg
file2=C\:\\Users\\user\\Documents\\rumos_js_exs\\js_individual_exs\\portugol_section\\portugol\\pdf_exs\\euros_para_dolares.alg
file1=Sem Nome.alg
backColorR=255
fontSize=20
